# reference  
[What's Wrong with Station 32](https://www.kaggle.com/jeffd23/what-s-wrong-with-station-32)  
[second place solution](https://www.kaggle.com/kyklosfraunhofer/second-place-solution/notebook)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset/train_numeric.csv')

In [3]:
df

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183742,2367490,-0.023,0.033,-0.015,-0.016,-0.013,0.070,0.008,-0.032,0.178,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1183743,2367491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1183744,2367492,0.075,0.123,-0.343,-0.325,0.031,0.161,-0.030,-0.232,0.214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1183745,2367493,-0.062,-0.019,-0.179,-0.179,-0.100,0.116,0.000,-0.072,0.025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1183746,2367495,-0.023,0.019,-0.033,-0.052,0.031,0.161,0.000,-0.032,-0.072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
features = df.drop(['Response', 'Id'], axis=1).columns.values

In [5]:
def orgainize(features):
    line_features = {}
    station_features = {}
    lines = set([f.split('_')[0] for f in features])
    stations = set([f.split('_')[1] for f in features])
    
    for l in lines:
        line_features[l] = [f for f in features if l+'_' in f]
        
    for s in stations:
        station_features[s] = [f for f in features if s+'_' in f]
        
            
    return line_features, station_features

In [6]:
line_features, station_features = orgainize(features)

### Feature Engineering(Station)

In [7]:
def make_features_station(df):
    new_features = pd.DataFrame({})
    for s in station_features.keys():
        station_data = df[station_features[s]]
        col = s+'_max'
        new_features[col] = station_data.max(axis=1)
        col = s+'_min'
        new_features[col] = station_data.min(axis=1)
        col = s+'_mean'
        new_features[col] = station_data.mean(axis=1)
    return new_features

In [8]:
data_s = make_features_station(df)

C:\Users\user\AppData\Local\Temp/ipykernel_5504/4190208240.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_features[col] = station_data.min(axis=1)
C:\Users\user\AppData\Local\Temp/ipykernel_5504/4190208240.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_features[col] = station_data.mean(axis=1)
C:\Users\user\AppData\Local\Temp/ipykernel_5504/4190208240.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_features[col] = station_data.max(axis=1)

In [9]:
data_s

,S14_max,S14_min,S14_mean,S23_max,S23_min,S23_mean,S24_max,S24_min,S24_mean,S35_max,...,S20_mean,S0_max,S0_min,S0_mean,S30_max,S30_min,S30_mean,S18_max,S18_min,S18_mean
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,...,NaN,0.118,-0.273,-0.053000,0.275,-0.177,0.003889,NaN,NaN,NaN
1,0.066,-0.324,-0.032556,NaN,NaN,NaN,NaN,NaN,NaN,0.030,...,-0.065667,NaN,NaN,NaN,0.255,-0.143,0.018441,0.315,-0.046,0.086333
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.030,...,NaN,0.250,-0.225,0.029333,0.134,-0.221,-0.009000,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.330,-0.253,0.027583,0.164,-0.173,0.008544,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.330,-0.169,0.053333,0.137,-0.186,-0.003471,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.084,...,NaN,0.178,-0.032,0.052750,0.321,-0.168,0.021824,NaN,NaN,NaN
1183743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.065667,NaN,NaN,NaN,0.286,-0.130,-0.006294,NaN,NaN,NaN
1183744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.214,-0.343,-0.015250,0.352,-0.180,0.009324,NaN,NaN,NaN
1183745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.030,...,NaN,0.275,-0.179,0.009750,0.154,-0.188,-0.024765,NaN,NaN,NaN
1183746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.161,-0.072,0.031083,0.270,-0.138,0.019162,NaN,NaN,NaN

### Feature Engineering(Line)

In [10]:
def make_features_line(df):
    new_features = pd.DataFrame({})
    for l in line_features.keys():
        line_data = df[line_features[l]]
        col = l+'_max'
        new_features[col] = line_data.max(axis=1)
        col = l+'_min'
        new_features[col] = line_data.min(axis=1)
        col = l+'_mean'
        new_features[col] = line_data.mean(axis=1)
    return new_features

In [11]:
data_l = make_features_line(df)

In [12]:
data_l

,L2_max,L2_min,L2_mean,L0_max,L0_min,L0_mean,L3_max,L3_min,L3_mean,L1_max,L1_min,L1_mean
0,NaN,NaN,NaN,0.260,-0.273,-0.045488,0.520,-0.702,-0.010580,NaN,NaN,NaN
1,NaN,NaN,NaN,0.315,-0.324,-0.003222,0.255,-0.480,0.004054,NaN,NaN,NaN
2,NaN,NaN,NaN,0.506,-0.336,-0.000535,0.238,-0.480,-0.000728,NaN,NaN,NaN
3,NaN,NaN,NaN,0.402,-0.253,0.024558,0.218,-0.480,-0.008020,NaN,NaN,NaN
4,NaN,NaN,NaN,0.330,-0.298,-0.003512,0.520,-0.347,-0.008857,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1183742,0.199,-0.297,-0.064857,0.273,-0.311,0.000674,0.321,-0.480,0.007966,NaN,NaN,NaN
1183743,NaN,NaN,NaN,0.434,-0.307,0.011178,0.520,-0.255,-0.011048,NaN,NaN,NaN
1183744,NaN,NaN,NaN,0.343,-0.343,-0.018070,0.352,-0.480,0.000784,NaN,NaN,NaN
1183745,NaN,NaN,NaN,0.455,-0.256,-0.005698,0.520,-0.222,-0.000946,NaN,NaN,NaN
1183746,NaN,NaN,NaN,0.398,-0.501,0.003907,0.270,-0.480,-0.002354,NaN,NaN,NaN

In [13]:
df_FE_num =pd.concat([df['Id'],data_l,data_s,df['Response']],axis=1)

In [14]:
df_FE_num

,Id,L2_max,L2_min,L2_mean,L0_max,L0_min,L0_mean,L3_max,L3_min,L3_mean,...,S0_max,S0_min,S0_mean,S30_max,S30_min,S30_mean,S18_max,S18_min,S18_mean,Response
0,4,NaN,NaN,NaN,0.260,-0.273,-0.045488,0.520,-0.702,-0.010580,...,0.118,-0.273,-0.053000,0.275,-0.177,0.003889,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,0.315,-0.324,-0.003222,0.255,-0.480,0.004054,...,NaN,NaN,NaN,0.255,-0.143,0.018441,0.315,-0.046,0.086333,0
2,7,NaN,NaN,NaN,0.506,-0.336,-0.000535,0.238,-0.480,-0.000728,...,0.250,-0.225,0.029333,0.134,-0.221,-0.009000,NaN,NaN,NaN,0
3,9,NaN,NaN,NaN,0.402,-0.253,0.024558,0.218,-0.480,-0.008020,...,0.330,-0.253,0.027583,0.164,-0.173,0.008544,NaN,NaN,NaN,0
4,11,NaN,NaN,NaN,0.330,-0.298,-0.003512,0.520,-0.347,-0.008857,...,0.330,-0.169,0.053333,0.137,-0.186,-0.003471,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183742,2367490,0.199,-0.297,-0.064857,0.273,-0.311,0.000674,0.321,-0.480,0.007966,...,0.178,-0.032,0.052750,0.321,-0.168,0.021824,NaN,NaN,NaN,0
1183743,2367491,NaN,NaN,NaN,0.434,-0.307,0.011178,0.520,-0.255,-0.011048,...,NaN,NaN,NaN,0.286,-0.130,-0.006294,NaN,NaN,NaN,0
1183744,2367492,NaN,NaN,NaN,0.343,-0.343,-0.018070,0.352,-0.480,0.000784,...,0.214,-0.343,-0.015250,0.352,-0.180,0.009324,NaN,NaN,NaN,0
1183745,2367493,NaN,NaN,NaN,0.455,-0.256,-0.005698,0.520,-0.222,-0.000946,...,0.275,-0.179,0.009750,0.154,-0.188,-0.024765,NaN,NaN,NaN,0
1183746,2367495,NaN,NaN,NaN,0.398,-0.501,0.003907,0.270,-0.480,-0.002354,...,0.161,-0.072,0.031083,0.270,-0.138,0.019162,NaN,NaN,NaN,0

In [15]:
#save data
df_FE_num.to_csv('dataset/feature_engineering_numerical.csv',index=None)