# reference

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset/train_date.csv')

In [3]:
df

,Id,L0_S0_D1,L0_S0_D3,L0_S0_D5,L0_S0_D7,L0_S0_D9,L0_S0_D11,L0_S0_D13,L0_S0_D15,L0_S0_D17,...,L3_S50_D4246,L3_S50_D4248,L3_S50_D4250,L3_S50_D4252,L3_S50_D4254,L3_S51_D4255,L3_S51_D4257,L3_S51_D4259,L3_S51_D4261,L3_S51_D4263
0,4,82.24,82.24,82.24,82.24,82.24,82.24,82.24,82.24,82.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,1618.70,1618.70,1618.70,1618.70,1618.70,1618.70,1618.70,1618.70,1618.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,1149.20,1149.20,1149.20,1149.20,1149.20,1149.20,1149.20,1149.20,1149.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,602.64,602.64,602.64,602.64,602.64,602.64,602.64,602.64,602.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183742,2367490,1239.90,1239.90,1239.90,1239.90,1239.90,1239.90,1239.90,1239.90,1239.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1183743,2367491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1183744,2367492,1482.18,1482.18,1482.18,1482.18,1482.18,1482.18,1482.18,1482.18,1482.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1183745,2367493,608.83,608.83,608.83,608.83,608.83,608.83,608.83,608.83,608.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1183746,2367495,937.61,937.61,937.61,937.61,937.61,937.61,937.61,937.61,937.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
features = df.drop(['Id'], axis=1).columns.values

In [5]:
def orgainize(features):
    line_features = {}
    station_features = {}
    lines = set([f.split('_')[0] for f in features])
    stations = set([f.split('_')[1] for f in features])
    
    for l in lines:
        line_features[l] = [f for f in features if l+'_' in f]
        
    for s in stations:
        station_features[s] = [f for f in features if s+'_' in f]
        
            
    return line_features, station_features

In [6]:
line_features, station_features = orgainize(features)

### Feature Engineering(Station)

In [7]:
def make_features_station(df):
    new_features = pd.DataFrame({})
    station_duration_list =[]
    for s in station_features.keys():
        station_data = df[station_features[s]]
        col = s+'_first'
        new_features[col] = station_data.min(axis=1)
        col = s+'_last'
        new_features[col] = station_data.max(axis=1)
        col = s+'_duration'
        new_features[col] = station_data.max(axis=1) - station_data.min(axis=1)
        station_duration_list.append(col)
    return new_features, station_duration_list

In [8]:
data_s,station_duration_list = make_features_station(df)

C:\Users\user\AppData\Local\Temp/ipykernel_8468/3462377175.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_features[col] = station_data.max(axis=1)
C:\Users\user\AppData\Local\Temp/ipykernel_8468/3462377175.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_features[col] = station_data.max(axis=1) - station_data.min(axis=1)
C:\Users\user\AppData\Local\Temp/ipykernel_8468/3462377175.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_features[col] = station_data.min(axis=1)

In [9]:
data_s

,S13_first,S13_last,S13_duration,S25_first,S25_last,S25_duration,S28_first,S28_last,S28_duration,S22_first,...,S7_duration,S20_first,S20_last,S20_duration,S24_first,S24_last,S24_duration,S3_first,S3_last,S3_duration
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1313.12,1313.12,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1313.15,1313.15,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,602.64,602.64,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1183743,624.22,624.22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,624.25,...,NaN,624.24,624.24,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1183744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1482.19,1482.19,0.0
1183745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,608.83,608.83,0.0
1183746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
def make_features_station2(df):
    new_features = pd.DataFrame({})
    for s in station_duration_list:
        station_data = df[s]
        col = s+'_prev_diff'
        new_features[col] = station_data - station_data.shift(1)
        col = s+'_next_diff'
        new_features[col] = station_data - station_data.shift(-1)
    return new_features

In [11]:
data_s_2= make_features_station2(data_s)

C:\Users\user\AppData\Local\Temp/ipykernel_8468/3669904674.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_features[col] = station_data - station_data.shift(1)
C:\Users\user\AppData\Local\Temp/ipykernel_8468/3669904674.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_features[col] = station_data - station_data.shift(-1)

In [12]:
data_s_2

,S13_duration_prev_diff,S13_duration_next_diff,S25_duration_prev_diff,S25_duration_next_diff,S28_duration_prev_diff,S28_duration_next_diff,S22_duration_prev_diff,S22_duration_next_diff,S49_duration_prev_diff,S49_duration_next_diff,...,S48_duration_prev_diff,S48_duration_next_diff,S7_duration_prev_diff,S7_duration_next_diff,S20_duration_prev_diff,S20_duration_next_diff,S24_duration_prev_diff,S24_duration_next_diff,S3_duration_prev_diff,S3_duration_next_diff
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1183743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1183744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1183745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
1183746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Feature Engineering(Line)

In [13]:
def make_features_line(df):
    new_features = pd.DataFrame({})
    line_duration_list =[]
    for l in line_features.keys():
        line_data = df[line_features[l]]
        col = l+'_first'
        new_features[col] = line_data.max(axis=1)
        col = l+'_last'
        new_features[col] = line_data.min(axis=1)
        col = l+'_duration'
        new_features[col] = line_data.max(axis=1) - line_data.min(axis=1)
        line_duration_list.append(col)
    return new_features,line_duration_list

In [14]:
data_l,line_duration_list= make_features_line(df)

In [15]:
data_l

,L1_first,L1_last,L1_duration,L3_first,L3_last,L3_duration,L0_first,L0_last,L0_duration,L2_first,L2_last,L2_duration
0,NaN,NaN,NaN,87.29,87.26,0.03,82.27,82.24,0.03,NaN,NaN,NaN
1,NaN,NaN,NaN,1315.75,1315.73,0.02,1313.15,1313.12,0.03,NaN,NaN,NaN
2,NaN,NaN,NaN,1624.42,1624.40,0.02,1618.73,1618.70,0.03,NaN,NaN,NaN
3,NaN,NaN,NaN,1154.16,1154.12,0.04,1149.22,1149.20,0.02,NaN,NaN,NaN
4,NaN,NaN,NaN,606.02,606.00,0.02,602.67,602.64,0.03,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1183742,NaN,NaN,NaN,1244.04,1244.01,0.03,1239.94,1239.90,0.04,1240.7,1240.7,0.0
1183743,NaN,NaN,NaN,626.66,626.64,0.02,624.25,624.22,0.03,NaN,NaN,NaN
1183744,NaN,NaN,NaN,1490.61,1490.35,0.26,1482.21,1482.18,0.03,NaN,NaN,NaN
1183745,NaN,NaN,NaN,610.75,610.73,0.02,608.85,608.83,0.02,NaN,NaN,NaN
1183746,NaN,NaN,NaN,942.33,942.29,0.04,937.65,937.61,0.04,NaN,NaN,NaN

In [16]:
def make_features_line2(df):
    new_features = pd.DataFrame({})
    for l in line_duration_list:
        line_data = df[l]
        col = l+'_prev_diff'
        new_features[col] = line_data - line_data.shift(1)
        col = l+'_next_diff'
        new_features[col] = line_data - line_data.shift(-1)
    return new_features

In [19]:
data_l_2= make_features_line2(data_l)

In [20]:
data_l_2

,L1_duration_prev_diff,L1_duration_next_diff,L3_duration_prev_diff,L3_duration_next_diff,L0_duration_prev_diff,L0_duration_next_diff,L2_duration_prev_diff,L2_duration_next_diff
0,NaN,NaN,NaN,0.01,NaN,-1.989520e-13,NaN,NaN
1,NaN,NaN,-0.01,0.00,1.989520e-13,2.273737e-13,NaN,NaN
2,NaN,NaN,0.00,-0.02,-2.273737e-13,1.000000e-02,NaN,NaN
3,NaN,NaN,0.02,0.02,-1.000000e-02,-1.000000e-02,NaN,NaN
4,NaN,NaN,-0.02,-0.02,1.000000e-02,0.000000e+00,NaN,NaN
...,...,...,...,...,...,...,...,...
1183742,NaN,NaN,0.01,0.01,NaN,1.000000e-02,0.0,NaN
1183743,NaN,NaN,-0.01,-0.24,-1.000000e-02,0.000000e+00,NaN,NaN
1183744,NaN,NaN,0.24,0.24,0.000000e+00,1.000000e-02,NaN,NaN
1183745,NaN,NaN,-0.24,-0.02,-1.000000e-02,-2.000000e-02,NaN,NaN
1183746,NaN,NaN,0.02,NaN,2.000000e-02,NaN,NaN,NaN

In [21]:
df_FE_date =pd.concat([df['Id'],data_l,data_l_2,data_s,data_s_2],axis=1)

In [22]:
df_FE_date

,Id,L1_first,L1_last,L1_duration,L3_first,L3_last,L3_duration,L0_first,L0_last,L0_duration,...,S48_duration_prev_diff,S48_duration_next_diff,S7_duration_prev_diff,S7_duration_next_diff,S20_duration_prev_diff,S20_duration_next_diff,S24_duration_prev_diff,S24_duration_next_diff,S3_duration_prev_diff,S3_duration_next_diff
0,4,NaN,NaN,NaN,87.29,87.26,0.03,82.27,82.24,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,NaN,NaN,NaN,1315.75,1315.73,0.02,1313.15,1313.12,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,NaN,NaN,NaN,1624.42,1624.40,0.02,1618.73,1618.70,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,NaN,NaN,NaN,1154.16,1154.12,0.04,1149.22,1149.20,0.02,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,11,NaN,NaN,NaN,606.02,606.00,0.02,602.67,602.64,0.03,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183742,2367490,NaN,NaN,NaN,1244.04,1244.01,0.03,1239.94,1239.90,0.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1183743,2367491,NaN,NaN,NaN,626.66,626.64,0.02,624.25,624.22,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1183744,2367492,NaN,NaN,NaN,1490.61,1490.35,0.26,1482.21,1482.18,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1183745,2367493,NaN,NaN,NaN,610.75,610.73,0.02,608.85,608.83,0.02,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
1183746,2367495,NaN,NaN,NaN,942.33,942.29,0.04,937.65,937.61,0.04,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#save data
df_FE_date.to_csv('dataset/feature_engineering_date.csv',index=None)